body {
	background-color: #D0E6EB;
}

.banner-nav {
	width: 100%;
	height: 80px;
	background: #03475e;
	display: flex;
	padding: 0px 30px 0px 30px;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	color: white;
	font-family: Khand, sans-serif;
	font-size: 18px;
	}
.banner {
	height: 400px;
	background-image: url("/Users/irislee/Documents/final-project-fall-2022-japan-tourism/src/images/landscape.png");
	background-size: 100% 100%;
	position: relative;
 }
.banner-text {
	text-align: right;
	position: absolute;
	right: 30px;
	top: 80px;
	font-family: Khand, sans-serif;
 }
.banner-text h1 {
	color: #b03e0a;
	font-size:40px;
}
.banner-text p {
	color: white;
	font-size: 17px;
}

.banner-scroll {
	font-family: Jost, sans-serif;
	color: white;
	width: 100%;
	height: 50px;
	background: #df7442;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 300px;
	z-index: 2;
}

.japanintro {
	margin: 30px;
}

.intro-right {
	margin: 80px auto 0;
	text-align: center;
	z-index: 1;
}
.intro-text h2{
	color: #03475e;
	font-size: 30px;
	font-family: Khand, sans-serif;
	margin-bottom: 15px;
	text-align: center;
}
.intro-text p{
	display: inline-block;
	width: 100%;
	text-align: justify;
	margin-bottom: 10px;
	line-height: 20px;
	font-size: 13px;
	font-family: Jost, sans-serif;
}

.kobe-heading {
	color: #03475e;
	text-align: center;
	font-family: Khand, sans-serif;
	font-size: 16px;
}
.kobe-right {
	display: none;
}
.kobe-img {
	text-align: center;
}

.kobe-text {
	display: inline-block;
	width: calc(100% - 60px);
	text-align: justify;
	margin: 30px;
	line-height: 20px;
	font-size: 13px;
	font-family: Jost, sans-serif;
}
.kobe-informationmap {
	text-align: center;
}
.kobe-informationmap h3 {
	font-family: Khand, sans-serif;
	font-size: 16px;
	color:#DE6044;
}
.kobe-button1 {
	font-family: Khand, sans-serif;
	color: white;
	font-size: 13px;
	width: 80px;
	line-height: 30px;
	text-align: center;
	border-radius: 20px;
	background: #df7442;
	border: 0px;
	font-weight: bold;
	position: absolute;
	top:1800px;
	right: 80px;
}
.kobe-button2 {
	font-family: Khand, sans-serif;
	color: white;
	font-size: 13px;
	width: 80px;
	line-height: 30px;
	text-align: center;
	border-radius: 20px;
	background: #df7442;
	border: 0px;
	font-weight: bold;
	position: absolute;
	top:1850px;
	left: 80px;
}
